*    {
    box-sizing: border-box;
    }
   
    body {
        background-image: url('../css/cssimage/shotcut-20220617-1.gif');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #4602c5;    
    }
    .reproductor {
        border: 2px solid #4602c5;
        padding: 20px;
        background-color: #4602c5;
        color: antiquewhite;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 50px;        
    }